@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sofia&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
li{
    list-style-type: none;
    margin-top: 5px;
}

.banner {
    position: relative;
    width: 100%;
    height: 550px; /* Adjust the height as needed */
  }
  
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(317deg, #FCA800 0%, #F84661 100%);
    opacity: 0.15000000596046448;
    z-index: -1;
  }


.navbar{
    display:flex;
    justify-content: center;
    
    
}
.nav-logo img{
  width: 100px;
  height: auto;
}
.nav-card{
    width: 80%;
    height: 60px;
    padding: 0px 10px;
    margin-top:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:none;
    border-radius: 10px;
    background-color:#FFFFFF;
    /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25); */

}

.nav-menu{
    display: flex;
    gap: 20px;
    color: #F84661;
    font-size: 18px;
    font-family: Poppins;
    list-style-type: none;
}
.nav-menu1{
    display: flex;
    gap: 20px;
    margin-right: 30px;
    color: #F84661;
    font-size: 18px;
    font-family: Poppins;
    list-style-type: none;
}
.join{
    display: inline-flex;
    padding: 5px 10px;
    margin-top: -2px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 4px;
    background: linear-gradient(153deg, #F86E46 0%, #FCA800 100%);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

/* header */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-left-content{
    width: 30%;
}
.header-left-content h3{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}
.header-left-content .brand{
   color: #FCA800;
   font-weight: 700;
}
.header-left-content .influencer{
    color: #F84661;
    font-weight: 700;
 }


.header-btn{
    margin-top: 40px;
}
.header-btn .btn1{
    border-radius: 4px;
    background: linear-gradient(153deg, #F84661 0%, #FCA800 100%);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;

}
.header-btn .btn2{
    border-radius: 4px;
    border: 1px solid #F84661;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    color: #F84661;
    padding: 10px 15px;
    border: none;
    margin-left: 20px;

}


/* Feature Influencers  */
.feature-influencers{
    margin-left: 150px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.feature-influencers span{
    color: #F84661;
    font-weight: 700;
}
.carousel-container {
    margin-top: 30px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-container .card {
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border:1px solid #f000746c;
    background: linear-gradient(140deg, rgba(252, 168, 0, 0.00) 1.04%, rgba(252, 168, 0, 0.06) 100%);
    box-shadow: -2px 0px 17px 13px rgba(248, 70, 97, 0.15);
  }
  .badge {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -12px;
    left: -12px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 5px;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius:360px;
    z-index: 11;
    color: #F84661;
    font-size: 12px;
    font-family: Source Sans Pro;
    transform: rotate(-30deg);
  }
  
  .dot-container {
   display: flex;
   justify-content: center;
   align-items: center;
    margin-top: 20px;
   
  }
  
  .dot {
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
    background-color:#25F4EE;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    width: 12px;
    height: 12px;
    background-color:#FCA800;
  }
  
  .carousel-container .card img{
    height: 300px;
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .text-overlay {
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -10%);

    
  }
  
  .text-overlay h2 {
    margin-bottom: 10px;
    transform: rotate(-90deg);
    color: #FFF;
    font-size: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.55;
  }
.card-location{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
    color: #F84661;
}
.card-location i{
    margin-right:5px;
}
.card-details{
    text-align: center;
}
.card-details h3{
    color: #FE2C55;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.designation p{
    color: #FFF;
    border-radius: 20px;
    background: #FCA800;
    display: inline-flex;
    padding: 3px 10px;
    margin: 10px 0;
    align-items: center;
    gap: 10px;
}
.follow{
    display: flex;
    gap: 25px;
    margin: 10px 0;
    justify-content: center;
}
.follow .fa-youtube{
    color: #FF0000;
}
.follow .fa-instagram-square{
    color: #F00073;
}
.follow .fa-facebook{
    color:#1877F2;
}
.carousel-card-btn{
    margin: 20px 0;
}

.carousel-card-btn .btn1{
    color: #F84661;
    border-radius: 4px;
    padding: 10px 25px;
    border: 1px solid #F84661;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
}

.carousel-card-btn .btn2{
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 25px;
    background: linear-gradient(153deg, #F84661 0%, #FCA800 100%);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.carousel-card-btn .btn2 i{
    margin-right: 10px;
}
/* aims-work */

.aims-work{
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 380px;
}
.aims-work-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.15000000596046448;
  background: linear-gradient(116deg, #FCA800 0%, #F84661 100%);
  z-index: -1;
}
.aims-work-content{
  margin-left:150px ;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Poppins;
}
.aims-work-content .title{
   font-size: 30px;
   margin-bottom: 20px;
}
.aims-work-content .title span{
  font-weight: 700;
  
}
.aims-card{
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}
.aims-work-content1{
  width: 220px;
  text-align: center;
}
.aims-content-details h2{
  margin-bottom:10px;
}
.aims-content-img img{
  height: 50px;
  width: 50px;
  margin: 10px 0;
}

/* product */
.product{
  position: relative;
  width: 100%;
  height: 300px;
}



.product-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background:#D6D6D6;
  opacity: 0.15000000596046448;
  z-index: -1;
}
.product-content{
  padding: 50px 0;
}
.product-content{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.product-content .card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}





/* happy client */


.happy-client{
  position: relative;
  width: 100%;
  height: 500px;
}



.client-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(317deg, #FCA800 0%, #F84661 100%);
  opacity: 0.15000000596046448;
  z-index: -1;
}

.happy-client-content{
  margin-left:150px ;
  padding-top: 60px;
  padding-bottom: 50px;
}
.happy-client .title{
   font-size: 30px;
   margin-bottom: 20px;
}
.happy-client .title span{
  font-weight: 700;
  
} 

.happy-client .img-icon1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 200px;
  
  
} 
.happy-client .img-icon1 img{
  height: 60px;
  width: 80px;
}
.happy-client .img-icon2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 200px;
  margin-top: 50px;
  
  
} 
.happy-client .img-icon2 img{
  height: 60px;
  width: 80px;
}
.happy-client .img-icon3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 200px;
  margin-top: 50px;
  
  
} 
.happy-client .img-icon3 img{
  height: 60px;
  width: 80px;
}


/* footer */
.footer{
    display: flex;
    background: #F84661;
    padding: 20px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Poppins;
}

.footer .fab{
    margin-right: 20px;
}
.footer-icon{
    margin-top: 30px;
    color: #FCA800;
}

.footer-section-1{
    margin-left: 100px;
}
.footer-section-1 img{
  width: 100px;
  height: auto;
  margin-bottom: 45px;
}
.footer-section-2{
    margin-left: 80px;
}
.footer-section-3{
    margin-left: 150px;
}
.footer-section-4{
    margin-left: 150px;
}
.section-title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 28px;
}
